*{  margin: 0;
    padding: 0;
    list-style: none
}
body{
    background:#fcc;
}
#box{
    width: 480px;
    height: 270px;
    border: 2px solid #faa;
    padding: 5px;
    margin: 200px auto;
    position: relative; /*相对定位*/
    overflow: hidden;  
}
ul li img{
    width: 480px;
    height: auto;
    margin-bottom: 1px;
}
#box ol{
    position: absolute; /*绝对定位*/
    right: 10px;
    bottom: 10px;
}
#box ol li{
    float: left;
    width: 20px;
    height: 20px;
    background: #fec;
    margin: 3px;
    text-align: center;
    line-height: 20px;
    color: #888;
    cursor: pointer; /*鼠标样式*/
    border:1px solid #faa;  
}

#box ol li.courrent{
    background:chartreuse;
    color: #000;
}